<ark-drawer-container>
  <ark-drawer #drawer [opened]="false" position="end">
    <router-outlet></router-outlet>
  </ark-drawer>
  <ark-drawer-content class="flex flex-auto flex-col w-full h-full">
    <form (submit)="search()" [formGroup]="form"
          class="flex items-center p-2 gap-2 border-b border-neutral-200 dark:border-neutral-700">
      <ark-text-input [formFieldControl]="form.get('search')" class="w-full" noSuffixSpace
                      rounded="full"></ark-text-input>
      <ark-button (onClick)="search()" rounded="full" size="sm">
        {{ 'search' | transloco | capitalize }}
      </ark-button>
    </form>
    <div class="flex flex-auto flex-col w-full h-full">
      @if (pageSchema && pageSchema.data.length) {
        @for (schema of pageSchema.data; track $index) {
          <a [routerLink]="[schema.rawName]"
             class="p-2 border-b border-neutral-200 dark:border-neutral-700 hover:cursor-pointer">
            <div>
              <div>
                {{ schema.rawName }}
              </div>
              <div class="text-xs text-neutral-500 dark:text-neutral-400">
                {{ schema.updatedAt | date: 'short' }}
              </div>
            </div>
          </a>
        }
      } @else {
        <span>
          {{ 'there are no records' | transloco | capitalize }}
        </span>
      }
    </div>
  </ark-drawer-content>
</ark-drawer-container>
