<div>
  @if (label) {
  <label
    for="select-{{ label }}"
    class="block text-sm font-medium mb-2 dark:text-white"
  >
    {{ label }}
  </label>
  }
  <div class="relative">
    <select
      id="select-{{ label ? label : '' }}"
      class="block w-full rounded-lg text-sm border border-gray-200 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 hover:cursor-pointer"
      [ngClass]="{
    'py-3 px-4': size ==='default',
    'py-2 px-3': size ==='small',
    'p-4 sm:p-5': size ==='large',
      }"
    >
      @for (item of items; track $index) {
      <option value="{{ item }}">{{ item }}</option>
      }
    </select>
    @if (invalid) {
    <div
      class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-8"
    >
      <svg
        class="shrink-0 size-4 text-red-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" x2="12" y1="8" y2="12"></line>
        <line x1="12" x2="12.01" y1="16" y2="16"></line>
      </svg>
    </div>
    }
  </div>
</div>
