<div class="flex flex-col w-full h-full min-h-screen max-h-screen overflow-hidden">
  <form [formGroup]="form" class="flex flex-col w-full h-full">
    <div class="p-2 shrink-0">
      <ark-text-input
        [formFieldControl]="form.get( 'schema')"
        label="{{'schema' | transloco | capitalize}}"
        noSuffixSpace>
      </ark-text-input>
    </div>

    @if (tabs) {
      <ark-tab-group [titles]="tabs" class="flex flex-col w-full flex-1 py-2 overflow-hidden">
        @for (tab of tabs; track $index; ) {
          <ark-tab-content [title]="tab.title" [show]="$index === 0" class="flex flex-col overflow-hidden">
            <div class="flex p-2 w-full border-b border-neutral-200 dark:border-neutral-700 shrink-0">
              <ark-button
                (onClick)="newCondition($index)"
                label="{{'new condition' | transloco | capitalize}}"
                size="sm"
                icon="featherPlus"></ark-button>
            </div>
            <div class="mt-2 py-4 px-2 overflow-auto flex-1 max-h-[calc(100vh-200px)]">
              @for (condition of getConditionControls($index); track condition) {
                <ark-select
                  [formFieldControl]="condition.get('condition')"
                  label="{{'condition' | transloco | capitalize}}">
                  <ng-template #options>
                    <option value="" disabled [selected]="!condition.get('condition')?.value">
                      {{ 'choose' | transloco | capitalize }}
                    </option>
                    @for (type of ruleConditionTypes; track type) {
                      <option value="{{type}}">{{ type | transloco | capitalize }}</option>
                    }
                  </ng-template>
                </ark-select>
                <ark-text-input
                  [formFieldControl]="condition.get('customCondition')"
                  label="{{'custom' | transloco | capitalize}}"></ark-text-input>
              }
            </div>
          </ark-tab-content>
        }
      </ark-tab-group>
    }
    <div class="flex items-center p-2 border-t border-neutral-200 dark:border-neutral-700 shrink-0">
      <ark-button
        (onClick)="delete()"
        color="red"
        ghost
        label="{{ 'delete' | transloco | capitalize }}"
        size="sm">
      </ark-button>
      <ark-button
        [routerLink]="['..']"
        class="ml-auto"
        ghost
        label="{{'cancel' | transloco | capitalize}}"
        size="sm"
      >
      </ark-button>
      @if (!schemaRule) {
        <ark-button
          (onClick)="create()"
          label="{{'create' | transloco | capitalize}}"
          size="sm"
          class="ml-2"
        >
        </ark-button>
      }
      @if (schemaRule) {
        <ark-button
          (onClick)="update()"
          label="{{'update' | transloco | capitalize}}"
          size="sm"
          class="ml-2"
        >
        </ark-button>
      }
    </div>
  </form>
</div>
