<div class="w-full md:w-96 p-2">
  <form [formGroup]="form">
    <ark-text-input
      controlName="name"
      label="{{ 'app name' | transloco | capitalize }}"
    >
    </ark-text-input>
    <ark-select
      controlName="type"
      label="{{ 'type' | transloco | capitalize }}"
    >
      <ng-template #options>
        <option value="" disabled selected>
          {{ 'choose' | transloco | capitalize }}
        </option>
        <option value="WEB_APP">
          {{ 'web app' | transloco | capitalize }}
        </option>
      </ng-template>
    </ark-select>
    <ark-text-input
      controlName="callback"
      label="{{ 'callback url' | transloco | capitalize }}"
    >
    </ark-text-input>
    <ark-textarea
      controlName="description"
      label="{{ 'description' | transloco | capitalize }}"
    ></ark-textarea>

    @if (app) {
    <div class="flex items-center gap-2">
      <ark-text-input
        [value]="project?._id"
        label="{{ 'project id' | transloco | capitalize }}"
        disabled
        placeholder="{{ '32*' | transloco | capitalize }}"
        class="w-full"
      >
      </ark-text-input>
      <ark-button icon="featherCopy" ghost></ark-button>
    </div>
    <div class="flex items-center gap-2">
      <ark-text-input
        [value]="app._id"
        label="{{ 'app id' | transloco | capitalize }}"
        disabled
        placeholder="{{ '32*' | transloco | capitalize }}"
        class="w-full"
      >
      </ark-text-input>
      <ark-button icon="featherCopy" ghost></ark-button>
    </div>
    <div class="flex items-center gap-2">
      <ark-text-input
        [value]="'32*' | transloco"
        label="{{ 'secret key' | transloco | capitalize }}"
        disabled
        placeholder="{{ '32*' | transloco | capitalize }}"
        class="w-full"
      >
      </ark-text-input>
      <ark-button icon="featherCopy" ghost></ark-button>
    </div>
    }

    <div class="flex items-center justify-end gap-2">
      <ark-button
        [routerLink]="['../']"
        label="{{ 'cancel' | transloco | capitalize }}"
        ghost
      ></ark-button>
      @if (!this.app) {
      <ark-button
        (onClick)="create()"
        label="{{ 'create' | transloco | capitalize }}"
      ></ark-button>
      } @if (app) {
      <ark-button
        (onClick)="update()"
        label="{{ 'update' | transloco | capitalize }}"
      ></ark-button>
      }
    </div>
  </form>
</div>
