PORT=3000
MONGO_URL=mongodb://localhost:27017/
MONGO_DB_METADATA=mongodb://localhost:27017/metadata
MONGO_DB_FIRESTORE=mongodb://localhost:27017/firestore
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=ThisShouldBeSuperSecret
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=1d
PROJECT_APP_SECRET_KEY_LENGTH=48
CORE_HARD_DELETE=false