<!-- Sidebar -->
<div
  id="hs-sidebar-content-push"
  class="z-10 hs-overlay [--auto-close] w-64 hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform h-full hidden fixed top-0 start-0 bottom-0 md:block md:translate-x-0 md:end-auto md:bottom-0 bg-white border-e border-gray-200 dark:bg-neutral-800 dark:border-neutral-700"
  role="dialog"
  tabindex="-1"
  aria-label="Sidebar"
>
  <div class="relative flex flex-col h-full max-h-full">
    <!-- Header -->
    <header class="p-4 flex justify-between items-center gap-x-2">
      <a
        class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white"
        href="#"
        aria-label="Brand"
      >
        {{ "arkham city dashboard" | transloco | titlecase }}
      </a>

      <div class="md:hidden -me-2">
        <!-- Close Button -->
        <button
          type="button"
          class="flex justify-center items-center gap-x-3 size-6 bg-white border border-gray-200 text-sm text-gray-600 hover:bg-gray-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
          data-hs-overlay="#hs-sidebar-content-push"
        >
          <ng-icon name="featherX"></ng-icon>
          <span class="sr-only">Close</span>
        </button>
        <!-- End Close Button -->
      </div>
    </header>
    <!-- End Header -->

    <!-- Body -->
    <nav
      class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
    >
      <div
        class="hs-accordion-group pb-0 px-2 w-full flex flex-col flex-wrap"
        data-hs-accordion-always-open
      >
        <ul class="flex flex-col gap-1">
          @for (item of items; track $index) { @if (item.type === 'basic') {
          <ark-navigation-basic-item [navigation]="item"></ark-navigation-basic-item>
          } @else if (item.type ==='group') {
          <ark-navigation-group-item [navigation]="item"></ark-navigation-group-item>
          } }
        </ul>
      </div>
    </nav>
    <!-- End Body -->
  </div>
</div>
<!-- End Sidebar -->
