<div class="flex flex-col h-full">
  <!-- Header -->
  <header class="p-4 flex">
    <a
      class="font-semibold text-xl text-black dark:text-white truncate line-clamp-1"
    >
      {{ "arkham city dashboard" | transloco | titlecase }}
    </a>
  </header>
  <!-- End Header -->

  <!-- Body -->
  <nav
    class="py-2 h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
  >
    <div
      class="pb-0 px-2 w-full flex flex-col flex-wrap"
    >
      <ul class="flex flex-col gap-1">
        @for (item of items; track $index) {
          @if (item.type === 'basic') {
            <ark-navigation-basic-item [navigation]="item"></ark-navigation-basic-item>
          } @else if (item.type === 'group') {
            <ark-navigation-group-item [navigation]="item"></ark-navigation-group-item>
          }
        }
      </ul>
    </div>
  </nav>
  <!-- End Body -->
</div>

