<div class="p-2">
  <div class="w-full md:max-w-96">
    <form [formGroup]="form">
      <ark-text-input
        [formFieldControl]="form.get('name')"
        label="{{ 'project name' | transloco | capitalize }}"
      ></ark-text-input>
      <ark-textarea
        [formFieldControl]="form.get('description')"
        label="{{ 'project description' | transloco | capitalize }}"
        rounded="large"
      >
      </ark-textarea>
      <div class="flex items-center gap-2">
        <ark-button
          class="ml-auto"
          label="{{ 'cancel' | transloco | capitalize }}"
          ghost
        ></ark-button>
        <ark-button
          (onClick)="create()"
          label="{{ 'Create' | transloco | capitalize }}"
        ></ark-button>
      </div>
    </form>
  </div>
</div>
