<div>
  <label
    for="text-input-{{ label.toLocaleLowerCase() }}"
    class="block text-sm font-medium mb-2 dark:text-white"
  >
    {{ label }}
  </label>
  <div class="relative">
    @if (!controlName) {
    <input
      type="{{ type }}"
      id="text-input-{{ label.toLocaleLowerCase() }}"
      name="text-input-{{ label.toLocaleLowerCase() }}"
      class="py-2.5 sm:py-3 px-4 block w-full rounded-lg sm:text-sm dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400"
      [ngClass]="{
        'border-red-500 focus:border-red-500 focus:ring-red-500': invalid
      }"
      placeholder="{{ placeholder }}"
      required=""
      aria-describedby="text-input-helper"
    />

    } @else {
    <input
      type="{{ type }}"
      [formControlName]="controlName"
      id="text-input-{{ label.toLocaleLowerCase() }}"
      name="text-input-{{ label.toLocaleLowerCase() }}"
      class="py-2.5 sm:py-3 px-4 block w-full rounded-lg sm:text-sm dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400"
      [ngClass]="{
        'border-red-500 focus:border-red-500 focus:ring-red-500': invalid
      }"
      placeholder="{{ placeholder }}"
      required=""
      aria-describedby="text-input-helper"
    />
    } @if (invalid) {
    <div class="absolute inset-y-0 end-0 flex items-center pe-3">
      <div class="hs-tooltip [--trigger:hover] inline-block">
        <div class="hs-tooltip-toggle">
          <svg
            class="shrink-0 size-4 text-red-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" x2="12" y1="8" y2="12"></line>
            <line x1="12" x2="12.01" y1="16" y2="16"></line>
          </svg>
          <span
            class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-3 px-4 bg-white border border-gray-200 text-sm text-gray-600 rounded-lg shadow-md dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400"
            role="tooltip"
          >
            Right popover
          </span>
        </div>
      </div>
    </div>
    }
  </div>
</div>
