<div>
  @if (label) {
  <label
    for="hs-textarea-{{ label }}"
    class="block text-sm font-medium mb-2 dark:text-white"
  >
    {{ label }}
  </label>
  }
  <div class="relative">
    @if (!controlName) {
    <textarea
      id="hs-textarea-{{ label }}"
      class="py-2.5 sm:py-3 px-4 block w-full sm:text-sm disabled:opacity-50 disabled:pointer-events-none bg-neutral-200 dark:bg-neutral-700"
      rows="{{ rows }}"
      placeholder="{{ placeholder }}"
    ></textarea>
    } @if (controlName) {
    <textarea
      formControlName="{{ controlName }}"
      id="hs-textarea-{{ label }}"
      class="py-2.5 sm:py-3 px-4 block w-full sm:text-sm disabled:opacity-50 disabled:pointer-events-none"
      [ngClass]="{
          'bg-neutral-200 dark:bg-neutral-700': !invalid,
          'bg-red-100 border-red-500 dark:bg-red-100 dark:border-red-500 border':
              invalid,
          'rounded-xs': rounded === 'small',
          'rounded-md': rounded === 'medium',
          'rounded-lg': rounded === 'large',
          'rounded-full': rounded === 'full',
          'py-3 px-4': size ==='default',
          'py-2 px-3': size ==='small',
          'p-4 sm:p-5': size ==='large',
        }"
      rows="{{ rows }}"
      placeholder="{{ placeholder }}"
    ></textarea>
    } @if (invalid) {
    <div class="absolute top-0 end-0 flex items-center pointer-events-none p-3">
      <svg
        class="shrink-0 size-4 text-red-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" x2="12" y1="8" y2="12"></line>
        <line x1="12" x2="12.01" y1="16" y2="16"></line>
      </svg>
    </div>
    }
  </div>
  <div class="h-6 truncate">
    @if (errors) {
    <ng-container [ngTemplateOutlet]="errors"></ng-container>
    }
  </div>
</div>
