<div class="md:min-w-96">
  <form [formGroup]="form" (onSubmit)="onLogIn()">
    <ark-text-input
      controlName="email"
      type="email"
      label="{{ 'Email' | transloco }}"
      placeholder="email@domain.com"
      rounded="large"
    >
      <ng-template #errors>
        <span class="text-sm text-red-500">
          @if (form.get('email')?.hasError('required')) {
          {{ "please enter your email" | transloco | capitalize }}
          } @if (form.get('email')?.hasError('email')) {
          {{ "please enter correct email" | transloco | capitalize }}
          }
        </span>
      </ng-template>
    </ark-text-input>
    <ark-text-input
      controlName="password"
      type="password"
      label="{{ 'Password' | transloco }}"
      placeholder="********"
      rounded="large"
    ></ark-text-input>
    <div class="flex items-center justify-between pb-3">
      <ark-checkbox
        controlName="rememberMe"
        label="{{ 'Remember me' | transloco }}"
      ></ark-checkbox>
      <ark-button
        label="{{ 'Forgot the password' | transloco }}"
        link
      ></ark-button>
    </div>
    <ark-button
      (onClick)="onLogIn()"
      label="{{ 'Log In' | transloco }}"
    ></ark-button>
    <ark-divider label="{{ 'Or' | transloco }}"></ark-divider>
    <ark-button
      [routerLink]="['../', 'register']"
      label="{{ 'Create a new account' | transloco }}"
      color="teal"
      outline
    ></ark-button>
  </form>
</div>
