<div class="flex w-full h-full p-2">
  <form
    [formGroup]="form"
    (onSubmit)="onLogIn()"
    class="w-full h-fit md:w-fit mx-auto my-auto flex flex-col gap-2 px-6 py-12 rounded-3xl md:drop-shadow-2xl md:bg-neutral-50 md:dark:bg-neutral-800"
  >
    <div class="absolute top-0 right-0 p-2">
      <ark-switch-theme></ark-switch-theme>
    </div>
    <ark-text-input
      controlName="email"
      type="email"
      label="{{ 'Email' | transloco }}"
      placeholder="email@domain.com"
      class="md:min-w-96"
      rounded="lg"
    ></ark-text-input>
    <ark-text-input
      controlName="password"
      type="password"
      label="{{ 'Password' | transloco }}"
      placeholder="********"
      class="md:min-w-96"
      rounded="lg"
    ></ark-text-input>
    <div class="flex items-center justify-between pb-3">
      <ark-checkbox
        controlName="rememberMe"
        label="{{ 'Remember me' | transloco }}"
      ></ark-checkbox>
      <ark-button
        label="{{ 'Forgot the password' | transloco }}"
        link
      ></ark-button>
    </div>
    <ark-button
      (onClick)="onLogIn()"
      label="{{ 'Log In' | transloco }}"
      [loading]="loading"
    ></ark-button>
    <ark-divider label="{{ 'Or' | transloco }}"></ark-divider>
    <ark-button
      label="{{ 'Create a new account' | transloco }}"
      [loading]="loading"
      color="teal"
      outline
    ></ark-button>
  </form>
</div>
