<div class="flex">
  <input
    *ngIf="!controlName"
    type="checkbox"
    class="shrink-0 mt-0.5 border-gray-200 rounded-sm text-teal-600 focus:ring-teal-500 checked:border-teal-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-teal-500 dark:checked:border-teal-500 dark:focus:ring-offset-gray-800"
    id="hs-default-checkbox"
  />
  <input
    *ngIf="controlName"
    type="checkbox"
    [formControlName]="controlName"
    class="shrink-0 mt-0.5 border-gray-200 rounded-sm text-teal-600 focus:ring-teal-500 checked:border-teal-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-teal-500 dark:checked:border-teal-500 dark:focus:ring-offset-gray-800"
    id="hs-default-checkbox"
  />
  <label
    for="hs-default-checkbox"
    class="text-sm text-gray-500 ms-3 dark:text-neutral-400"
  >
    {{ label }}
  </label>
</div>
