<ark-drawer-container
  class="absolute w-full h-full text-neutral-800 bg-white dark:text-white dark:bg-neutral-900 overflow-auto">
  <ark-drawer #drawer [opened]="true" class="bg-neutral-100 dark:bg-neutral-800" position="start">
    @if (navigations) {
      <ark-navigation-sidebar [items]="navigations"></ark-navigation-sidebar>
    }
  </ark-drawer>
  <ark-drawer-content class="flex flex-auto flex-col w-full h-full">
    <!-- Content -->
    <div class="flex flex-col w-full h-full">
      <!-- Navbar -->
      <div
        class="flex justify-end w-full p-2 border-b border-gray-200 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="flex items-center gap-2 mr-auto">
          <ark-button (onClick)="toggleDrawer()" ghost icon="featherMenu" size="sm">
          </ark-button>
          <ark-button
            [routerLink]="['/projects', 'new-project']"
            icon="featherPlus"
            label="{{ 'new project' | transloco | capitalize }}"
            size="sm"
          ></ark-button>

          <ark-select
            (onChange)="onProjectChange($event)"
            noSuffixSpace
            size="sm"
          >
            @if (projects) {
              <ng-template #options>
                @for (project of projects; track $index) {
                  <option [value]="project._id">
                    {{ project.name }}
                  </option>
                }
              </ng-template>
            }
          </ark-select>
        </div>

        <div class="flex items-center gap-2">
          <ark-switch-theme></ark-switch-theme>
          <ark-user [user]="user" rounded="full"></ark-user>
        </div>
      </div>
      <!-- End Navbar -->
      <div
        class="flex flex-auto flex-col w-full h-full bg-white dark:bg-neutral-800 overflow-scroll [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
      >
        @if (true) {
          <router-outlet></router-outlet>
        }
      </div>
    </div>
    <!-- End Content -->
  </ark-drawer-content>
</ark-drawer-container>
